In [ ]:
from glob import glob
import os

# Import pandas module for data manipulation
import pandas as pd

# Set options for Pandas DataFrame display
pd.set_option('max_colwidth', None)  # Do not truncate the contents of cells in the DataFrame
pd.set_option('display.max_rows', None)  # Display all rows in the DataFrame
pd.set_option('display.max_columns', None)  # Display all columns in the DataFrame

from cjm_pandas_utils.core import display_df

In [ ]:
# checkpoint_dir = "./miniai_data_augmentation_seed-1"
# checkpoint_dir = "miniai_data_augmentation_seed-42"
checkpoint_dir = "miniai_data_augmentation_seed-100"

In [ ]:
# Get a list of paths to JSON files in the 'annotation_dir' directory
df_paths = glob(os.path.join(checkpoint_dir, "*.json"))

# Display the JSON file paths using a Pandas DataFrame
display_df(pd.DataFrame(df_paths))

In [ ]:
# Create a generator that reads the class distribution data from each file in df_paths
class_dist_dfs = (pd.read_json(f).rename_axis('class') for f in df_paths)

# Concatenate the class distribution data into a single DataFrame
class_dist_agg_df = pd.concat(class_dist_dfs, axis=1, sort=False)

# Compute the sum of the class distribution data for each run
sums = class_dist_agg_df.sum(axis=0)

# Add a row to the DataFrame with the totals
class_dist_agg_df.loc['Total'] = sums

# Fill any missing values with 0 and convert the values to integers
display_df(class_dist_agg_df.fillna(0).astype(int))

In [ ]:
print(class_dist_agg_df.fillna(0).astype(int).to_markdown())

| class           |   baseline |   rand-pixel-cp-1 |   rand-square-cp-1 |   rand-square-pixel-cp-1 |   trivial-aug-item-1 |
|:----------------|-----------:|------------------:|-------------------:|-------------------------:|---------------------:|
| call            |          3 |                 7 |                  3 |                        7 |                    5 |
| dislike         |          4 |                 2 |                  1 |                        3 |                    4 |
| fist            |          2 |                 5 |                  7 |                        5 |                    8 |
| four            |          4 |                 6 |                 10 |                        7 |                    8 |
| like            |          6 |                11 |                  5 |                        6 |                    8 |
| mute            |          3 |                 1 |                  0 |                        1 |                    0 |
| no_gesture      |          4 |                 7 |                  8 |                        8 |                    6 |
| ok              |          1 |                 3 |                  4 |                        4 |                    2 |
| one             |          7 |                10 |                  6 |                        6 |                   13 |
| palm            |          4 |                 9 |                  3 |                        3 |                    2 |
| peace           |          7 |                 7 |                  7 |                       12 |                    7 |
| peace_inverted  |          2 |                 5 |                  4 |                        5 |                    5 |
| rock            |          4 |                 5 |                  4 |                        5 |                    5 |
| stop            |          6 |                10 |                  2 |                        3 |                    7 |
| stop_inverted   |          2 |                 2 |                  2 |                        1 |                    2 |
| three           |          8 |                 8 |                  9 |                        6 |                    7 |
| three2          |          1 |                 3 |                  1 |                        2 |                    2 |
| two_up          |          2 |                 5 |                  2 |                        0 |                    2 |
| two_up_inverted |          4 |                 5 |                  3 |                        6 |                    7 |
| Total           |         74 |               111 |                 81 |                       90 |                  100 |